<div class="main-header">
    <app-menu></app-menu>
    <div class="container">
        <p translate class="bienvenido" style="margin-top:50px;">Bienvenidos a</p>
        <h1 class="txt-alun">ALÜN IDEAS</h1>
        <p class="bien" style="margin-top:-30px;">Una Agencia de servicio integral</p>
        <p class="bien" style="margin-top:-5px;"> en Marketing Experiencial, Digital </p>
        <p class="bien" style="margin-top:-5px;">y Eventos</p>
    </div>
    <div class="center-align">
      <img src="./assets/img/home/gif-ramon.gif" width="60px" alt="">
    </div>
</div>
