.main-header{
  background-image: url("/assets/img/bkg/main-bkg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bienvenido{ font-size: 2em; }
.bien {font-size: 2em;}

.container h1 {
  color: #fff;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 65px;
  font-weight: bold;
  margin-top: 0;
}

.container p {
  color: #fff;
  font-size: 45px;
}

@media only screen and (max-width: 768px){
  .main-header p{
    font-size: 25px;
  }
}

@media only screen and (max-width: 425px){
  .main-header h1{
    font-size: 35px;
  }
  .main-header p{
    font-size: 15px;
  }
}
