<div class="row">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="/assets/img/home/mosaico-imagenes-Home_foto2.png">
                <span class="card-title"><h3>Cartagena Inspira</h3></span>
            </div>
            <div class="card-content">
                <h6> <b> Cartagena Inspira</b> </h6>
                <p>Viva la experiencia +Cartagena</p>
            </div>
            <div class="card-action">
                <a class="" routerLink="/cartagena">Ver Más</a>
            </div>
        </div>
    </div>
</div>