<div class="row">
  <div class="col s12 m6 l4">
      <div class="card">
          <div class="card-image">
              <img src="/assets/img/home/mosaico-imagenes-Home_foto2.png">
              <span class="card-title"><h3>Cartagena Inspira</h3></span>
          </div>
          <div class="card-content">
            <h6> <b> Cartagena Inspira</b> </h6>
            <p>Grandes debates sobre la comunicación, la creatividad, la innovación y el mercadeo constituirán la agenda académica de Cartagena inspira 2017. Bajo el lema Venga y déjese inspirar, se promueve este evento que reunirá a más de 2.000 asistentes, provenientes de Latinoamérica y diferentes países del mundo, quienes encontrarán la inspiración para enfrentar los desafíos de las industrias convocadas.</p>
          </div>
          <div class="card-action">
              <a routerLink>Ver Más</a>
          </div>
      </div>
  </div>
</div>
