<app-header></app-header>
<br>
<br>


<div class="container">

  <div class="row">
    <div class="col s12 m5 l5 xl5">
      <div class="card">
        <div class="card-image">
          <img src="/assets/img/home/mosaico-imagenes-Home_foto1.png">
        </div>
        <div class="card-content">
          <span class="card-title">Una increible y fluida interfaz</span>
            <p>Nuestra aplicación es más elegante y estilizada que nunca. Cajas de contenido con transparencias, menús que colapsan al tacto y una navegacion intuitiva logran que tus aistentes tengan una experiencia cautivante.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m7 l7 xl7">
      <div class="card blue accent-3">
        <div class="card-content white-text">
            <p>En QuickMobile, estamos redefiniendo los eventos mediante el diseño de aplicaciones de eventos móviles para los asistentes con conocimientos de tecnología de hoy. Nuestras aplicaciones para eventos y conferencias crean experiencias significativas y duraderas para nuestros clientes y sus asistentes. Al ofrecer eventos y reuniones personalizadas, productivas y totalmente integradas, en toda la empresa y más allá, brindamos a sus clientes la capacidad de cautivar e involucrar a sus asistentes. Con una experiencia y soporte sin igual, QuickMobile lo hace posible.</p>
            <br>
            <br>
            <p>Además, QuickMobile se complace en anunciar que ahora somos parte de Cvent , un líder del mercado en tecnología de reuniones, eventos y hospitalidad, con la plataforma de administración de eventos más completa de la industria. Cvent ofrece tecnología a los planificadores de eventos para el registro de eventos en línea, la selección de lugares, las soluciones in situ, la gestión de eventos, el marketing por correo electrónico, las encuestas web y mucho más. </p>
        </div>
      </div>
      <div class="center-align">
        <i class="large material-icons" routerLink="/home">arrow_back</i>
      </div>
    </div>
  </div>

</div>
