<div class="navbar-fixed">
    <!--web and desktop navbar-->
    <nav>
        <div class="nav-wrapper">
          <div class="container">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo">
                <img src="./assets/img/home/logo-alun.png" alt="logo pilar echeverry">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                </li>
            </ul>
          </div>

        </div>
        <!--mobile navbar-->
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="./assets/img/bkg/main-bkg.jpg">
                    </div>
                </div>
            </li>
            <li>

            </li>
            <li>
                <div class="divider"></div>
            </li>
            <img class="responsive-img logoNav" src="./assets/img/home/logo-alun.png" alt="logo">
        </ul>

    </nav>
</div>
