<div class="row">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image lirespon">
                <img src="/assets/img/home/mosaico-imagenes-Home_foto11.png">
                <span class="card-title"><h3>Poken</h3></span>
            </div>
            <div class="card-content">
              <h6> <b> UNA EXPERIENCIA DE EVENTO QUE CAUTIVA ASISTENTES DE TODAS LAS EDADES </b> </h6>
              <p>La plataforma Poken ofrece las mejores soluciones para hacer de tu evento un éxito rotundo.</p>
            </div>
            <div class="card-action">
                <a class="" routerLink="/poken">Ver Más</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="/assets/img/home/mosaico-imagenes-Home_foto1.png">
                <span class="card-title"><h3>Quick Mobile</h3></span>
            </div>
            <div class="card-content">
              <h6> <b> ES MEJOR, ES MÁS ATREVIDA Y ESPECTACULAR </b> </h6>
              <p>Es hora de subirle el nivel a tus eventos con el flujo mejorado de la experiencia de usuario y novedosas ideas para captar la atecion de tu audiencia.</p>
            </div>
            <div class="card-action">
                <a class="" routerLink="/quick">Ver Más</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="/assets/img/digital/img_04.jpg">
                <span class="card-title"><h3>Evento Naranja</h3></span>
            </div>
            <div class="card-content">
              <h6> <b> LA APLICACIÓN DE EVENTOS QUE REVOLUCIONA LA EXPERIENCIA DEL ASISTENTE</b> </h6>
              <p>Descubra los beneficios de la aplicación móvil para eventos más avanzada del mercado.</p>
            </div>
            <div class="card-action">
                <a class="" routerLink="/orange">Ver Más</a>
            </div>
        </div>
    </div>

</div>
